@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.freak-mode {
  cursor: url("assets/freak-mode.jpg"), auto;
  background-color: #282c34;
}

.center-with-large-left-margin-sheetmusic-1 {
  margin-left: 28.5rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-2 {
  margin-left: 24rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-3 {
  margin-left: 25rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-4 {
  margin-left: 22rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-5 {
  margin-left: 22rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-6 {
  margin-left: 28.5rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-5 {
  margin-left: 22rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-sheetmusic-7 {
  margin-left: 17rem; /* Adjust the value as needed */
  margin-right: auto;
}

.center-with-large-left-margin-pianokey {
  margin-left: 42rem; /* Adjust the value as needed */
  margin-right: auto;
}